@use "src/Styles/mixins" as m;

.navTools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools {
  display: flex;
  align-items: center;
  gap: 16px; // Added for equal spacing between icons
}

.tools>:where(button, a) {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  width: fit-content;
  // Removed margin-inline-end as gap handles spacing
}