@use "src/Styles/mixins" as m;

.images {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  user-select: none;
}

.previewImgHolder {
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 100%; /* This creates a 1:1 aspect ratio */
  border-radius: 4px;
  flex: 1;
  background-color: var(--very-light-gray2);
  border: solid 1px var(--very-light-gray);

  &:hover {
    border-color: #ff7b00;
  }
}

@include m.large {
}

@include m.small {
  .previewImgHolder {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
}

.previewImgHolder>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--very-light-gray2);
  border-radius: inherit;
  object-fit: contain;
}

// Arabic styles
[dir=rtl] .images {
  flex-direction: row-reverse;
}

@media (max-width: 1400px) {
  [dir=rtl] .images {
    flex-direction: column-reverse;
  }
}