@use "src/Styles/mixins" as m;

.images {
  display: flex;
  gap: 30px;
  user-select: none;
}

@media (max-width: 1400px) {
  .images {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

.previewImgHolder {
  width: 400px; /* Giảm chiều rộng */
  height: 450px; /* Giảm chiều cao */
  max-height: 450px;
  min-height: 450px;
  border-radius: 4px;
  flex: 1;
  background-color: var(--very-light-gray2);
  border: solid 1px var(--very-light-gray);

  &:hover {
    border-color: #ff7b00;
  }
}

@include m.large {
  .previewImgHolder {
    height: 400px; /* Giảm chiều cao cho màn hình lớn */
    max-height: 400px;
    min-height: 400px;
    @include m.center-x-y;
  }
}

@include m.small {
  .previewImgHolder {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .previewImgHolder {
    height: 350px; /* Giảm chiều cao cho màn hình di động */
    max-height: 350px;
    min-height: 350px;
  }
}

.previewImgHolder>img {
  background-color: var(--very-light-gray2);
  border-radius: inherit;
  object-fit: contain;
}

// Arabic styles
[dir=rtl] .images {
  flex-direction: row-reverse;
}

@media (max-width: 1400px) {
  [dir=rtl] .images {
    flex-direction: column-reverse;
  }
}